<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/mystyle.css" />
    <title>KUNITAROU</title>
    <link href="//bizweb.dktcdn.net/100/384/579/themes/839203/assets/bootstrap_css.css?1662712787274" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="div-top">
        <img class="logo" src="~/Logo/facebook_cover_photo_1-removebg-preview.png" />
        <p class="menu"><a style="color: #e56038" href="TrangChu">Trang Chủ</a></p>
        <p class="menu"><a style="color: #e56038" href="TrangChu">Sản Phẩm</a></p>
    </div>
    
    
    <div id="div-body">
        @RenderBody()
        
        
    </div>

    <div id="div-footer">
        Footer
    </div>
</body>
</html>
