
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/stylepro.css" />
<link rel="stylesheet" href="~/Content/mystyle.css" />

<h1 style="text-align:center;color:white">GIỚI THIỆU</h1>
<p style="color:white; text-align:center">
    Đáp ứng đam mê sưu tập những món đồ Gacha tinh xảo và mô hình nghệ thuật Figure bước ra từ thế giới truyện tranh và phim hoạt hình Anime, cửa hàng Momotarou chuyên nhập khẩu các sản phẩm Gacha và mô hình Figure chính hãng 
    đến từ Nhật Bản đã chính thức ra mắt tại các Trung tâm thương mại tại TP.HCM với nhiều chương trình khuyến mãi hấp dẫn. Mong muốn trở thành cầu nối trong giao lưu văn hoá và đồ chơi giữa hai nước Việt – Nhật, 
    cửa hàng Kunitarou định hướng và phát triển chiến lược mở rộng thị trường tại Việt Nam, 
    tiếp tục giúp các bạn trẻ đam mê hoạt hình Nhật Bản có thể dễ dàng tiếp cận 
    đến nguồn hàng chính hãng chất lượng và đa dạng với mức giá hợp lý.
</p>

