
@{
    ViewBag.Title = "JUJUTSU_KAISEN";
    Layout = "~/Views/Shared/_SellingLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/stylepro.css" />
<div id="div-pro-list">
    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy     40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>

    <div class="box-pro">
        <img class="size-img" src="~/ImagesJUJUTSU/gojo1.jpg" />
        <div class="box-description">
            <p class="margin-des">Mã SP: OP01</p>
            <p class="margin-des">Tên SP: Mô Hình Luffy 40cm</p>
            <p class="margin-des">Giá: 2.000.000</p>
        </div>
    </div>
</div>

