
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/stylepro.css" />
<div class="box-pro">
    <div id="topic">
        <a href="ONEPIECE"><img class="topic-size-image" src="~/ImagesONEPIECE/luffy1.jpg" /></a>
        <div class="topic-name">
            <h2>ONE PIECE</h2>
        </div>
    </div>
</div>

<div class="box-pro">
    <div id="topic">
        <a href="JUJUTSU_KAISEN"><img class="topic-size-image" src="~/ImagesJUJUTSU/gojo1.jpg" /></a>
        <div class="topic-name">
            <h2>JUJUTSU KAISEN</h2>
        </div>
    </div>
</div>




